body {
background-color: #f8f9fc;
font-family: 'Inter', sans-serif;
}


.announcement-card {
border-radius: 1rem;
padding: 16px 20px;
margin-bottom: 16px;
}

.tag {
font-weight: 600;
font-size: 12px;
padding: 4px 12px;
border-radius: 12px;
display: inline-block;
margin-bottom: 6px;
}

.tag-point {
background-color: #d6c3f7;
color: #4b2991;
}

.tag-jawaban {
background-color: #c6e5f7;
color: #115d8c;
}

.tag-sistem {
background-color: #b2ebc2;
color: #116644;
}

.card-point {
background-color: #ebdafe;
}

.card-jawaban {
background-color: #d6f0ff;
}

.card-sistem {
background-color: #d8f9e5;
}

.footer-text {
text-align: center;
margin-top: 40px;
color: #999;
font-size: 14px;
}

.btn-outline-dark {
border-radius: 8px;
}

